.stAppHeader {
    visibility: hidden;
    height: 0;
    margin: 0;
    padding: 0;
}

.stMainBlockContainer {
    padding: 0 200px;
    height: 100vh;
    max-height: 100vh;
    /* background-image: url("https://github.com/Vaisakh-Nirupam/Laptop_Price_Analyzer_App/blob/main/Images/Bg1.jpg?raw=true"); */
    /* background-image: url("https://github.com/Vaisakh-Nirupam/Laptop_Price_Analyzer_App/blob/main/Images/Bg2.jpg?raw=true"); */
    /* background-image: url("https://github.com/Vaisakh-Nirupam/Laptop_Price_Analyzer_App/blob/main/Images/Bg3.jpg?raw=true"); */
    background-image: url("https://github.com/Vaisakh-Nirupam/Laptop_Price_Analyzer_App/blob/main/Images/Bg4.jpg?raw=true");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
